.css-showcase{
    background: #333;
    color: #DDD;
    border: 1px solid gray;

    .clearfix{
        clear: left;
    }
}

.css-showcase-left{
    padding: 1em 0 1em 1.5em;
}

.css-showcase-right{
    padding: 1em 2em;
}

.css-showcase-css{
    font-family: monospace;
    font-size: 1.05em;

    .prop{
        color: #77F;
        display: inline-block;
        width: 12em;
        padding-left: 1.5em;
    }

    .val{
        input[type="text"], input[type="number"]{
            width: 5.5em;
            border: 0;
            border-bottom: 1px dashed #999;
            padding: 0;
            background: transparent;
        }
    }

    .class{
        color: white;
        font-weight: bold;
    }
}

.css-showcase-highlight{
    .huge{
        font-size: 12em;
        line-height: 0.95em;
    }
    .letter{
        outline: 1px solid rgba(255, 0, 0, 0.5);
    }
    .word{
        outline: 1px solid rgba(70, 70, 255, 0.9);
    }
}

.apply{
    //letter-spacing: 2px;
}
